footer {
    color: #fff; /* Cor do texto */
    /* margin-top: 20px; */
}

/* CSS REGISTRO */
.btn {
    margin-bottom: 20px;
}

#logo {
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    margin-top: 10px;
}

.img-logo-header {
    width: 50px;
    height: auto;
}

.landing-space {
    height: 50vh; /* Define a altura da imagem em 100% da altura da viewport */
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-space2 {
    background-image: url('https://images6.alphacoders.com/125/1250656.jpg'); /* Substitua pelo caminho real da sua imagem */
    background-size: cover; /* Garante que a imagem de fundo cubra todo o elemento */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    padding: 100px 0; /* Adapte o espaçamento interno conforme necessário */
}

.landing-space2 h2 {
    border: 1px solid brown;
    text-align: center;
    color: white;
    background-color: rgba(165, 42, 42, 0.5)
}

.landing-space2 p {
    text-align: center;
    color: white;
    text-shadow: 8px 8px 10px rgba(165, 42, 42, 0.8);
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wallpaper-index {
    /* width: clamp(300px, 90%, 800px); */
    width: 80vh;
    height: auto;
    border-radius: 10%;
    border: 5px solid brown;
}

.dash {
    padding-bottom: 30px;
}



/* ========================== */
/* ==== CSS DOCUMENTAÇÃO ==== */
/* ========================== */
.doc-titulo {
    text-transform: uppercase;
    margin-top: 10px;
    color: brown;
    border-bottom: 1px brown solid;
}


.doc-sub {
    
}


.doc-li {
        margin-bottom: 10px;
}